<h1 align="center">1. Tuple Creation</h1>

In [1]:
tup1 = ()  # Empty tuple

tup2 = (10, 30, 60)  # Tuple of integer numbers  → (10, 30, 60)
tup3 = (10.77, 30.66, 60.89)  # Tuple of float numbers  → (10.77, 30.66, 60.89)
tup4 = ('one', 'two', 'three')  # Tuple of strings  → ('one', 'two', 'three')
tup5 = ('Mubasshir Ahmed', 25, (50, 100), (150, 90))  # Nested tuples  → ('Mubasshir Ahmed', 25, (50, 100), (150, 90))
tup6 = (100, 'Mubasshir Ahmed', 17.765)  # Mixed data types  → (100, 'Mubasshir Ahmed', 17.765)

tup7 = ('Mubasshir Ahmed', 25, [50, 100], [150, 90], {'John', 'David'}, (99, 22, 33))  # Tuple with list, set & tuple

print(len(tup7))  # Output: 6

6

<h1 align="center">2. Tuple Indexing</h1>

In [2]:
tup = ('Mubasshir', 'Ahmed', 99, (22, 33), 'Python')

print(tup[0])         # Output: 'Mubasshir'  → First element
print(tup[1])         # Output: 'Ahmed'      → Second element
print(tup[0][0])      # Output: 'M'          → First character of first string
print(tup[-1])        # Output: 'Python'     → Last element using negative indexing
print(tup[3])         # Output: (22, 33)     → Nested tuple
print(tup[3][1])      # Output: 33           → Second element of nested tuple

Mubasshir
Ahmed
M
Python
(22, 33)
33

<h1 align="center">3. Tuple Slicing</h1>

In [3]:
tup = ('Mubasshir', 'Ahmed', 'Data', 'Science', 'Python', 'AI', 'ML', 'SQL')

print(tup[0:3])    # Output: ('Mubasshir', 'Ahmed', 'Data')     → From index 0 to 2
print(tup[2:5])    # Output: ('Data', 'Science', 'Python')      → From index 2 to 4
print(tup[:4])     # Output: ('Mubasshir', 'Ahmed', 'Data', 'Science') → From start to index 3
print(tup[3:])     # Output: ('Science', 'Python', 'AI', 'ML', 'SQL') → From index 3 to end
print(tup[:])      # Output: Entire tuple  → ('Mubasshir', 'Ahmed', 'Data', 'Science', 'Python', 'AI', 'ML', 'SQL')
print(tup[-4:-1])  # Output: ('Python', 'AI', 'ML')  → Negative indexing slice

('Mubasshir', 'Ahmed', 'Data')
('Data', 'Science', 'Python')
('Mubasshir', 'Ahmed', 'Data', 'Science')
('Science', 'Python', 'AI', 'ML', 'SQL')
('Mubasshir', 'Ahmed', 'Data', 'Science', 'Python', 'AI', 'ML', 'SQL')
('Python', 'AI', 'ML')

<h1 align="center">4. Remove & Change Items (Tuple Immutability)</h1>

In [4]:
tup = ('Mubasshir', 'Ahmed', 25, 'Python')

# Trying to change a value (will raise error)
# tup[1] = 'Ali'        # ❌ TypeError: 'tuple' object does not support item assignment

# Trying to delete a specific item (will raise error)
# del tup[2]            # ❌ TypeError: 'tuple' object doesn't support item deletion

# Deleting entire tuple is allowed
del tup                # ✅ This will delete the entire tuple from memory

# print(tup)            # ❌ NameError: name 'tup' is not defined

<h1 align="center">5. Loop Through a Tuple</h1>

In [6]:
tup = ('Mubasshir', 'Ahmed', 'Python', 'Data Science')

# Using a for loop
for item in tup:
    print(item)
# Output:
# Mubasshir
# Ahmed
# Python
# Data Science

# Using enumerate() to get index and value
for index, value in enumerate(tup):
    print(f"Index {index} → {value}")
# Output:
# Index 0 → Mubasshir
# Index 1 → Ahmed
# Index 2 → Python
# Index 3 → Data Science

Mubasshir
Ahmed
Python
Data Science
Index 0 → Mubasshir
Index 1 → Ahmed
Index 2 → Python
Index 3 → Data Science

<h1 align="center">6. Tuple Membership</h1>

In [8]:
tup = ('Mubasshir', 'Ahmed', 'Python', 'Data', 'AI')

# Using `in` operator to check membership
print('Python' in tup)     # Output: True
print('Machine Learning' in tup)  # Output: False

# Using `if-else` with membership
if 'AI' in tup:
    print("Yes, 'AI' is present in the tuple.")  # Output: Yes, 'AI' is present in the tuple.
else:
    print("No, not found.")

True
False
Yes, 'AI' is present in the tuple.

<h1 align="center">7. Index Position</h1>

In [10]:
tup = ('Mubasshir', 'Ahmed', 'Python', 'AI', 'Python')

# Finding the index of an element
print(tup.index('Python'))  # Output: 2  → Returns first occurrence index

# If element is not in tuple, it raises an error
# print(tup.index('SQL'))   # ❌ ValueError: tuple.index(x): x not in tuple

2

<h1 align="center">8. Sorting Tuples</h1>

In [11]:
tup = (40, 10, 90, 30, 70)

# Using sorted() – returns a list (not a tuple)
sorted_asc = sorted(tup)
print(sorted_asc)  # Output: [10, 30, 40, 70, 90] → Ascending order

# Sorting in descending order
sorted_desc = sorted(tup, reverse=True)
print(sorted_desc)  # Output: [90, 70, 40, 30, 10]

[10, 30, 40, 70, 90]
[90, 70, 40, 30, 10]