<h1 style="text-align: center; font-size: 40px;">üöÄ Introduction to Python üöÄ</h1>

<h2 style="text-align: center; font-size: 30px;">Comments in Python</h2>

In [6]:
# this is the first comment
spam = 1    # and this is the second comment
# ... and now a third!
text = "# This is not a comment because it's inside quotes."
spam,text

(1, "# This is not a comment because it's inside quotes.")

<h2 style="text-align: center; font-size: 32px;">üìä 3.1.1 Numbers: Using Python as a Calculator</h2>

In [14]:
# Basic arithmetic operations
2 + 2
50 - 5*6
(50 - 5*6) / 4
8 / 5  # always returns a float

1.6

In [15]:
# Floor division and remainder
17 // 3     # Floor division: discards fractional part
17 % 3      # Modulus: returns the remainder
5 * 3 + 2   # Just verifying: quotient * divisor + remainder = original number

17

In [16]:
# Power operation
2 ** 7      # 2 raised to the power 7

128

In [19]:
# Variable assignment
a = 10
b = 3
c = a // b
c

3

In [20]:
# Mixed operations between int and float
7 / 3
7 // 3
7 / 3.0
3 * 3.75 / 1.5

7.5

In [ ]:
# In the Python interpreter, _ stores the last result
# In Jupyter, it's not always reliable, but it works in simple cells

tax = 12.5 / 100
price = 100.50
price * tax     # last value is stored in _
price + _       # add tax to original price
round(_, 2)     # round to 2 decimal places

In [41]:
# Complex number example
z = 3 + 5j
z.real     # Real part
z.imag     # Imaginary part
abs(z)     # Magnitude of complex number

5.830951894845301

<h2 style="text-align: center; font-size: 32px;">‚úèÔ∏è 3.1.2¬†Text¬†(Strings)</h2>

In [46]:
# Single vs double quotes and escaping
'spam eggs'                       # single quotes
"doesn't"                         # double quotes, contains '
'doesn\'t'                        # single quotes with escape
"\"Yes,\" they said."             # double quotes with escaped quotes
'"Isn\'t," they said.'            # single quotes containing both " and '

'"Isn\'t," they said.'

In [48]:
# Notice the difference between repr() (what you see above) and print()
print("doesn't")                  # more readable
print('"Yes," they said.')

doesn't
"Yes," they said.

In [49]:
# Standard string with newline \n
s = 'First line.\nSecond line.'
print(s)

# Raw string keeps backslashes literally
print(r'C:\some\name')            # note the leading r

First line.
Second line.
C:\some\name

In [50]:
print("""\
Usage: thingy [OPTIONS]
     -h                       Display this usage message
     -H hostname              Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                       Display this usage message
     -H hostname              Hostname to connect to

In [52]:
# Using + and *
'Py' + 'thon'                    # explicit concatenation
'un' * 3 + 'ium'                 # repetition

'unununium'

In [55]:
# Automatic literal concatenation (two string *literals* side‚Äëby‚Äëside)
'Put several ' 'together on one line.'

'Put several together on one line.'

In [58]:
word = 'Python'

# Indexing (0‚Äëbased)
word[0]          # 'P'
word[5]          # 'n'
word[-1]         # last character 'n'
word[-2]         # second‚Äëlast 'o'
word[-6]         # 'P'

# Slicing (end index is excluded)
word[0:2]        # 'Py'
word[2:5]        # 'tho'

# Slice defaults
word[:2]         # 'Py'   (start is 0)
word[4:]         # 'on'   (end is len(word))
word[:]          # 'Python' (full copy)

'Python'

In [59]:
word = 'Python'
# word[0] = 'J'          # Uncomment -> TypeError: 'str' object does not support item assignment

new_word = 'J' + word[1:]   # correct way to create a modified string
new_word

'Jython'

In [60]:
len(word)        # 6

6

<h2 style="text-align: center; font-size: 32px;">üìã 3.1.3 Lists</h2>

In [3]:
# Creating a list of square numbers
squares = [1, 4, 9, 16, 25]

# Accessing elements using index
squares[0]      # First item ‚Üí 1
squares[-1]     # Last item ‚Üí 25
squares[-3:]    # Last 3 elements ‚Üí [9, 16, 25]

[9, 16, 25]

In [4]:
# You can join (concatenate) lists using +
squares + [36, 49, 64, 81, 100]   # Adds more squares to the list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# Let's fix a mistake in the list
cubes = [1, 8, 27, 65, 125]  # 65 is wrong (should be 64)
cubes[3] = 64                # Fixing it
cubes                       # Now it‚Äôs correct ‚Üí [1, 8, 27, 64, 125]

[1, 8, 27, 64, 125]

In [7]:
# Adding more cubes at the end of the list
cubes.append(216)            # Cube of 6
cubes.append(343)            # Cube of 7
cubes                        # Full list now ‚Üí [1, 8, 27, 64, 125, 216, 343]

[1, 8, 27, 64, 125, 216, 343]

In [8]:
# List assignment doesn't make a new copy ‚Äî it shares the same list
a = [1, 2, 3]
b = a                        # b refers to the same list
a.append(4)                  # Changing a also changes b
b                            # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [9]:
# To make an actual copy, slice the whole list
a = [1, 2, 3, 4]
copy_of_a = a[:]             # Shallow copy
copy_of_a                    # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [10]:
# Slicing lets us replace part of a list
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

letters[2:5] = ['C', 'D', 'E']   # Replace middle section
letters                          # ['a', 'b', 'C', 'D', 'E', 'f', 'g']

letters[2:5] = []                # Delete that section
letters                          # ['a', 'b', 'f', 'g']

letters[:] = []                  # Clear the entire list
letters                          # []

[]

In [11]:
# Lists can contain other lists
a = [1, 2, 3, 4]
nested = [a, cubes]              # A list that contains two lists
nested                           # [[1, 2, 3, 4], [1, 8, 27, 64, 125, 216, 343]]

[[1, 2, 3, 4], [1, 8, 27, 64, 125, 216, 343]]

<h2 style="text-align: center; font-size: 32px;">üîÅ 3.2 First Steps Towards Programming</h2>

In [13]:
# Print Fibonacci numbers less than 10
# Start with 0 and 1, then keep adding last two numbers

a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a + b

# Output:
# 0
# 1
# 1
# 2
# 3
# 5
# 8

0
1
1
2
3
5
8

In [14]:
# Same as above, but prints on the same line using end=' '
a, b = 0, 1
while a < 10:
    print(a, end=' ')  # prints with space instead of newline
    a, b = b, a + b

# Output: 0 1 1 2 3 5 8

0 1 1 2 3 5 8